<ul id="threejs-portfolio">
  <li>
    <%= link "Basic Scene", to: Routes.three_js_path(@conn, :scene, "01") %>
  </li>
  <li>
    <%= link "Transform Objects", to: Routes.three_js_path(@conn, :scene, "05") %>
  </li>
  <!-- Below are not part of the lesson -->
  <li>
    <%= link "Fancy Cube", to: Routes.three_js_path(@conn, :fancy_cube) %>
  </li>
</ul>
