@import "./normalize.css";

/**
 * ==== COLOUR PALETTE ====
 */
$base-color: #663399;

/**
 * ==== FONTS ====
 */
@font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("SourceSerifPro-Regular"), url(../fonts/Source_Serif_Pro/SourceSerifPro-Regular.woff2) format("woff2"),
        url(../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf) format("ttf"),
        url(../fonts/Source_Serif_Pro/SourceSerifPro-Regular.woff) format("woff");
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("SourceSerifPro-Semibold"), url(../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.woff2) format("woff2"),
        url(../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf) format("ttf"),
        url(../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.woff) format("woff");
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("SourceSerifPro-Bold"), url(../fonts/Source_Serif_Pro/SourceSerifPro-Bold.woff) format("woff2"),
        url(../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf) format("ttf"),
        url(../fonts/Source_Serif_Pro/SourceSerifPro-Bold.woff) format("woff");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 450;
    font-display: swap;
    src: local("Raleway"), url(../fonts/Raleway/Raleway-VariableFont_wght.woff2) format("woff2"),
        url(../fonts/Raleway/Raleway-VariableFont_wght.ttf) format("ttf"),
        url(../fonts/Raleway/Raleway-VariableFont_wght.woff) format("woff");
}

/**
 * ==== PRIMARY SVG LOGO ====
 */
#logo-link {
    height: 5em;
}
#logo, .udia-logo {
    height: 5em;
    pointer-events: none;
}

/**
 * ==== THREEJS GRAPHICS ====
 */
canvas#canvas {
    position: absolute;
    z-index: -1;
}

/**
 * ==== DEFAULT LAYOUT & FONT FAMILY ====
 */
body {
    font-family: "Source Serif Pro", "DejaVu Serif", "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.45;
    font-variant-numeric: oldstyle-nums;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
}

div#wrapper {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-auto-flow: dense;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    place-items: stretch;
    margin: 0 0.5em;

    > header {
        margin-top: 0.5em;
        grid-area: header;
    }
    main[role=main], > div.phx-connected {
        grid-area: main;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    > footer {
        margin-bottom: 0.5em;
        grid-area: footer;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
    }

    header,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav[role=navigation],
    button,
    label,
    footer,
    ol#threejs-portfolio {
        font-family: "Raleway", sans-serif;
    }
}

header#header {
    > section.container {
        display: flex;
        > nav {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            > ul {
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                margin: 0;
                padding: 0;
                > li {
                    display: inline;
                    margin-right: 1em;
                }
            }
        }
    }
}

main[role=main].container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/**
 * ==== MAIN CONTENT ====
 */

form {
    display: flex;
    flex-direction: column;
    min-width: 20em;
    label {
        font-weight: 600;
    }
    input {
        margin-bottom: 0.5em;
    }
    input[type=checkbox] {
        display: inline;
    }
}

button {
    background-color: $base-color;
    color: white;
    // border: none;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

a:hover {
    text-decoration: underline #663399 dashed;
}

ol#threejs-portfolio {
    font-size: x-large
}
